.defaultIcons{
	headerIcon:	Embed(source="/resources/images/header.jpg");
	loginIcon:	Embed('/resources/images/calders.jpg');
	helpIcon:	Embed('/resources/images/helpQuestionMark.swf');
}
.mainPanel{
	footerColors:#FFFFFF,#999999;
	borderAlpha:1;
	borderColor:#CCCCCC;
}
.innerPanel{
	paddingTop:10;
	paddingBottom:10;
	paddingLeft:10;
	paddingRight:10; 
	cornerRadius:10; 
	borderColor:#CCCCCC;
	dropShadowEnabled:false;
	backgroundColor:#FFFFFF;
	alpha:1;
}
.innerView{
	backgroundColor:#FDECB0;
}